.open-source-license {
  -ms-overflow-style: none; /* Hide scrollbar for Chrome, Safari and Opera */
  scrollbar-width: none;

  &__wrapper {
    height: 100vh;
    background: rgba(225, 227, 233, 0.6);
    overflow: scroll;
    &::-webkit-scrollbar {
      /* Hide scrollbar for IE, Edge and Firefox */
      display: none;
    }
  }
  &__content {
    &--top {
      margin-bottom: 14px;
      padding: 24px 20px 55px;

      background-color: #f8f8fa;

      .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding-bottom: 16px;

        p {
          width: 197px;
          font-weight: 400;
          font-size: 13px;
          line-height: 16px;
          color: #76797e;
        }
        .open-source-license__img {
          position: absolute;
          right: 0px;
          top: -30px;
          width: 120px;
          height: 120px;
        }
        .fraud-warning__img {
          position: absolute;
          right: 0px;
          top: 0px;
          width: 105;
          height: 130px;
        }
      }
    }

    &--main {
      padding: 24px 20px 20px;

      background-color: #f8f8fa;
      ul {
        list-style: disc;
        margin: 0px 0px 20px 20px;
        li {

          &::marker {
            font-size: 9px;
          }
          & + li {
            margin-top: 16px;
          }
          p {
            word-break: break-all;
          }
        }
      }

      .sub-title,
      li {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #76797e;
      }
    }

    &.pre-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-bottom: 20px;

      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
    }

    &.title {
      margin-bottom: 18px;

      font-weight: 700;
      font-size: 17px;
      line-height: 140%;
    }

    &.sub-title {
      margin-bottom: 8px;
    }
  }
}
