

.fraud__wrapper {
  display: flex;
  flex-direction: column;
  //align-items: flex-end;
  overflow: scroll;
  max-height: 100vh;
  background-color: #f8f8fa;
  position: relative;
  padding-bottom: 16px;

  .header__wrapper {
    z-index: 10;

    &.fraud__header {
      .header__back {
        color: #222428;
      }
    }
  }

  .fraud__top {
    position: relative;
    margin-bottom: 19px;
  }

  .fraud__title {
    &.top {
      padding: 8px 20px 16px 20px
    }
    padding: 20px 20px 16px 20px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 140%;
    color: #2C3B4E;
  }
  .fraud__content {
    width: 100%;
    display: flex;
    flex-direction: column;

    left: 0%;
    right: 27.76%;
    top: 29.41%;
    bottom: 0%;
    padding: 0px 20px;
    
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    
    color: #76797E;

    &.image {
      width: calc(100% - 105px);
    };
  }

  .fraud__image {
    position: absolute;
    right: 20px;
    bottom: 0px;
  }

  .fraud__content :not(:last-of-type) {
    margin-bottom: 8px;
  }



  .fraud__pagination {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-weight: 510;
    font-size: 15px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #76797e;
  }
  .fraud__scroll__top {
    position: sticky;
    bottom: 60px;
    right: 16px;
  }
  .fraud__bottomsheet {
    .bottom__sheet__content.fit-content {
      width: 100vw;
    }
    .list__wrapper {
      &:nth-last-child(1) {
        border-bottom: 0;
      }
    }
    &__content {
      width: 100%;
      .list__wrapper {
        padding-top: 24px;
      }
    }
  }
}

.divider {
  height: 14px;
  background-color: #E1E3E9;
}