.sign-up-personal-detail-review {
  .review__img {
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 150px;
    }
  }
}
