@import 'styles/utilities/variables';
@import 'styles/utilities/_mixin.scss';

.active-card__wrapper {
  height: 95vh;
  overflow: auto;
}

.active-card__container {
  padding: 20px 24px 150px;
}

.active-attempts {
  margin-top: 16px;
  border-radius: 16px;
  background-color: $color-gray-100;
  height: 94px;
  @include flexCenter();
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  line-height: 19px;
  .active-attempts__desc {
    color: $color-gray-500;
  }
  .active-attempts__number {
    font-weight: 500;
  }
}

.active-blocked-bottom__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .blocked-title {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
  }
  .blocked-description {
    margin-top: 8px;
    font-size: 16px;
    line-height: 21px;
    color: $color-gray-550;
    text-align: center;
  }
  .blocked-icon-buttons {
    padding: 32px 0 16px;
    @include flexCenter();
    .active-blocked__button {
      width: 100px;
      @include flexCenter();
      .btn__icon__wrapper {
        max-width: unset;
      }
    }
    .call__icon {
      color: #4f8bf4;
      font-size: 24px;
    }
    .chat__icon {
      font-size: 24px;
    }
  }
}
