.update-email-in-progress__wrapper {
  .start-over__icon {
    max-width: unset !important;
    .icon__container {
      img {
        width: 24px;
        height: 24px;
        object-fit: cover;
      }
    }
  }
  .completed__img {
    img {
      width: 64px;
      height: 64px;
      object-fit: cover;
    }
  }
}

.update-email-in-progress__toast {
  bottom: 70px !important;
}
