{
  "arrowParens": "avoid",
  "semi": true,
  "trailingComma": "es5",
  "endOfLine": "lf",
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 120,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react(.*)$",
    "<THIRD_PARTY_MODULES>",
    "@/components(.*)$",
    "@/pages(.*)$",
    "@/(assets|config|constants|hooks|routes|utils)(.*)$",
    "@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["jsx", "decorators-legacy"]
}
