.calendar__input {
  position: relative;
  width: 335px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #e1e3e9;
  border-radius: 10px;
  padding: 18px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &.disabled {
    background-color: #eef0f6;
    .left__content,
    .right__content {
      color: #bec1c6;
    }
  }
  .left__content,
  .right__content {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #a0a2a7;

    &.complete {
      color: #222428;
    }

    .calendar__label {
      width: 85px;
      overflow: hidden;
      padding: 0;

      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 150%;
      text-align: center;
      color: #222428;
      &.default {
        font-style: normal;
        font-weight: 510;
        font-size: 13px;
        line-height: 150%;
        text-align: center;
        color: #a0a2a7;
      }
    }
    .calendar__icon {
      max-height: 16px;
      margin-left: 6px;
      position: relative;
      &::after {
        top: -12px;
        left: -10px;
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: transparent;
      }
    }
  }
  .date__picker {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .visible__input {
    position: absolute;
    z-index: -10;
    left: 0;
    input {
      caret-color: transparent;
      width: 0;
    }
  }
  .react-calendar__month-view__days button {
    margin-left: 7px;
  }
}
@media screen and (min-width: 500px) {
  .calendar__input {
    justify-content: space-around;
  }
}

@media screen and (min-width: 700px) {
  .react-calendar {
    width: calc(100vw - 40px);
    max-height: none;
    min-height: 305px;
    padding-bottom: 20px;
  }
  .react-calendar__viewContainer {
    height: calc(100% - 27.8px);
  }
  .react-calendar__month-view__days button {
    max-width: 85px;
    margin-bottom: 0;
  }
  .react-calendar__navigation {
    margin-top: 10px;
  }
}
@media screen and (min-width: 680px) {
  .react-calendar {
    width: calc(100vw - 40px);
    max-height: none;
    min-height: 305px;
    padding-bottom: 20px;
  }
  .react-calendar__viewContainer {
    height: calc(100% - 27.8px);
  }
  .react-calendar__month-view__days button {
    max-width: 73px;
    margin-bottom: 0;
  }
  .react-calendar__navigation {
    margin-top: 10px;
  }
}
@media screen and (min-width: 690px) {
  .react-calendar {
    width: calc(100vw - 40px);
    max-height: none;
    min-height: 305px;
    padding-bottom: 20px;
  }
  .react-calendar__viewContainer {
    height: calc(100% - 27.8px);
  }
  .react-calendar__month-view__days button {
    max-width: 74px;
    margin-bottom: 0;
  }
  .react-calendar__navigation {
    margin-top: 10px;
  }
}
@media screen and (min-width: 800px) {
  .react-calendar {
    width: calc(100vw - 40px);
    max-height: none;
    height: 305px;
    padding-bottom: 20px;
  }
  .react-calendar__viewContainer {
    height: calc(100% - 27.8px);
  }
  .react-calendar__month-view__days button {
    max-width: 90px;
    margin-bottom: 0;
  }
  .react-calendar__navigation {
    margin-top: 10px;
  }
}
