.react-calendar {
  width: 340px;
  background: #ffffff;
  border: 1px solid #e1e3e9;
  box-shadow: 0px 10px 35px rgba(34, 36, 40, 0.1);
  border-radius: 12px;
  padding: 13px 17px;
  max-height: 337px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
  overflow-x: hidden;

  .navigation__label {
    span {
      color: #222428;
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 140%;
    }
    & > span:first-child {
      margin-right: 19px;
    }
  }
}
.react-calendar--doubleView {
  width: 700px;
  .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;

    & > * {
      width: 50%;
      margin: 0.5em;
    }
  }
}
.react-calendar {
  button {
    margin: 0;
    border: 0;
    outline: none;
    &:enabled:hover {
      cursor: pointer;
    }
  }
  & *,
  & *:before,
  & *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.react-calendar__navigation {
  display: flex;
  margin-top: 19px;
  margin-bottom: 10px;
  width: 207px;
  max-width: 207px;
  button {
    color: #a0a2a7;
    background: none;
    font-size: 17px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 2px 6px !important;

    &.react-calendar__navigation__prev-button,
    &.react-calendar__navigation__next2-button {
      transform: rotate(180deg);
    }
    &:disabled {
      background-color: #f0f0f0;
    }
    &:enabled:hover,
    &:enabled:focus {
      background-color: transparent;
    }
  }
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;

  border-bottom: 1px solid #e1e3e9;

  abbr {
    text-decoration: none;
    color: #222428;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    &[title='Sunday'] {
      color: #ff6a63;
    }
    &[title='Saturday'] {
      color: #3270ea;
    }
  }
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days {
  button {
    max-width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 6px;

    font-style: normal;
    font-weight: 510;
    font-size: 15px;
    line-height: 150%;
    color: #222428;
  }
}
.react-calendar__month-view__days__day--weekend {
  color: #ff6a63 !important;
  &.react-calendar-weeken-sat {
    color: #3270ea !important;
  }
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  &:disabled {
    background-color: #f0f0f0;
    color: lightgrey !important;
  }
  &:enabled:hover,
  &:enabled:focus,
  &.picked {
    background-color: #2c3b4e;
    color: #ffffff;
    border-radius: 50%;
  }
}
.react-calendar__tile--now {
  background: #eef0f6;
  border-radius: 50%;
  box-shadow: 0px 0px 1px rgba(34, 36, 40, 0.25);

  &:enabled:hover,
  &:enabled:focus {
    background: #2c3b4e;
    color: #ffffff;
  }
}
.react-calendar__tile--hasActive {
  background: #76baff;
  &:enabled:hover,
  &:enabled:focus {
    background: #a9d4ff;
  }
}
.react-calendar__tile--active {
  background: #eef0f6;
  color: #222428;
  border-radius: 50%;
  &:enabled:hover,
  &:enabled:focus {
    background: #2c3b4e;
    color: #ffffff;
  }
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
  color: #ffffff;
}

@media screen and (min-width: 680px) {
  .calendar__input {
    .react-calendar__month-view__days {
      button {
        margin-left: 8px;
      }
    }
  }

  .react-calendar__tile--now {
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 1px transparent;
    position: relative;
    abbr {
      width: 30px;
      height: 30px;
      background-color: #eef0f6;
      padding: 5px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
