@import 'styles/utilities/variables';
@import 'styles/utilities/mixin';

.book-appointment-successful__wrapper {
  height: 100vh;
  overflow-y: auto;
  padding: 56px 24px 120px;
  .book-appointment {
    &__header {
      @include flexCenter();
      flex-direction: column;
      padding-top: 24px;
      padding-bottom: 32px;
    }
    &__img {
      .img__icon {
        width: 64px;
        height: 64px;
        object-fit: cover;
      }
    }
    &__title {
      margin-top: 16px;
      text-align: center;
      .complete-message {
        font-size: 22px;
        font-weight: 700;
        line-height: 28px;
      }
      .note {
        margin-top: 16px;
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        color: $color-gray-550;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 16px 0;
      @include dividerBottomSolid();
      .appointment-item {
        display: flex;
        gap: 16px;
        font-size: 14px;
        line-height: 19px;
      }

      .appointment-label {
        width: 112px;
        flex-shrink: 0;
        color: $color-gray-500;
      }

      .appointment-value {
        font-weight: 500;
        word-break: break-all;
      }
    }
  }
}

.book-appointment__footer {
  .btn__filled__primary {
    align-self: stretch;
  }
}
