@import 'styles/utilities/variables';

.intended-use-account-bottom__wrapper {
  &.bottom__sheet.max-scroll {
    height: auto;
    max-height: 93vh;
  }
  .bottom__sheet__content {
    padding-left: 0;
    padding-right: 0;
  }

  .intended {
    &__item {
      padding: 0 24px;
      &:hover,
      &:focus {
        background-color: $color-gray-50;
      }
      &:last-child {
        .intended__item__main {
          border: none;
        }
      }
    }
    &__item__main {
      padding: 20px 0;
      border-bottom: 1px solid $color-gray-200;
    }
    &__label {
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
    }
  }
}
