$input-on-background: background-color(dark-sky-blue);

.input__search__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;

  .input__search {
    position: relative;
    width: 100%;
    border-radius: 8px;
    background-color: background-color(color-gray-scale);
    &.small {
      height: 40px;
    }
    &.large {
      height: 48px;
    }
    &.onBackground {
      background-color: $input-on-background;
      & > input {
        color: text-color(color-white);
        @include customPlaceholder(#b9cef8);
      }
    }

    &__icon {
      position: absolute;
      height: 100%;
      left: 16px;
      color: text-color(santa-gray);

      display: flex;
      align-items: center;
      &.onBackground {
        color: #b9cef8;
      }
    }
    &.disable {
      background: background-color(color-gray-scale);
    }

    & > input {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: transparent;
      padding: 0 50px 0 46px;
      font-size: 16px;
      font-weight: 500;
      caret-color: text-color(color-blue);
      border: none;
      border-radius: 8px;
      @include customPlaceholder(text-color(santa-gray));
      &:focus {
        outline: none;
      }
    }
    .input__search__clear {
      position: absolute;
      height: 100%;
      right: 20px;

      display: flex;
      align-items: center;

      cursor: pointer;
    }
    &__cancel {
      font-size: 15px;
      color: text-color(color-grey);
      font-weight: 400;
      margin-left: 10px;
      white-space: nowrap;

      cursor: pointer;
      &.onBackground {
        color: text-color(color-platinum);
      }
    }
  }
}
