@import 'styles/utilities/variables';
@import 'styles/utilities/mixin';

.promotion-detail-bottom__content {
  .promotion {
    &__header {
      padding: 16px 0;
      @include dividerBottomSolid;
    }
    &__title__wrapper {
      display: flex;
      justify-content: space-between;
    }
    &__title {
      font-size: 22px;
      font-weight: 700;
      line-height: 28px;
    }
    &__share {
      font-size: 24px;
    }
    &__period {
      margin-top: 12px;
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 19px;
      color: $color-gray-700;
    }
    &__main {
      padding-top: 16px;
      &__img {
        height: 208px;
      }
      &__caption {
        margin-top: 24px;
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
      }
      &__desc {
        margin-top: 8px;
        font-size: 15px;
        line-height: 20px;
        color: $color-gray-700;
      }
      &__sub {
        margin-top: 8px;
        font-size: 13px;
        line-height: 18px;
        color: $color-gray-550;
      }
    }
  }
}

