@import 'styles/utilities/variables';

.change-profile__wrapper {
  height: 100dvh;
  .change-profile__content {
    height: calc(100vh - 166px);
    overflow-y: auto;
    padding-bottom: 50px;
  }

  .profile__avatar__wrapper {
    padding: 32px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .profile__avatar {
      position: relative;
      width: 80px;
      height: 80px;

      .avatar__img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
        }

        .avatar__default {
          background-color: #94bdfa;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .avatar__first-name {
          font-size: 40px;
          font-weight: 700;
          color: $color-white;
        }
      }

      .btn__setting {
        position: absolute;
        bottom: -4px;
        right: -8px;
        cursor: pointer;
        height: 40px;
        width: 40px;
      }
    }

    .btn__delete {
      width: 76px;
    }
  }

  .form__wrapper {
    .agreement__download {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 20px;
      height: 52px;
      border-radius: 16px;
      border: 1px solid $color-gray-300;
      font-size: 14px;
    }

    .address__upload {
      height: 160px;
      border-radius: 16px;
      background-color: $color-gray-100;
      display: flex;
      justify-content: center;
      overflow: auto;
      position: relative;
    }

    .remove__upload {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .address__upload__pdf {
      height: 100px;
    }

    .container__upload {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    .upload__img {
      height: 100%;
      object-fit: contain;
    }

    .upload__title {
      font-size: 12px;
      margin-top: 8px;
    }

    .upload__input__file {
      display: none;
    }

    .upload__desc {
      font-size: 12px;
      margin-top: 4px;
      color: $color-gray-550;
    }
  }

  .toast-container__overlay {
    position: absolute;
    z-index: 9999;
    left: 50%;
    bottom: 90px;
    transform: translate(-50%, -50%);

    .toast {
      width: calc(100vw - 48px);
    }
  }

  .address__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
