.form__wrapper {
  padding: 16px 24px 0;
}

.form__section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form__section__title {
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  color: $color-gray-700;
  margin-bottom: 4px;
}

.form__label {
  font-size: 14px;
  line-height: 19px;
  color: $color-gray-700;
}

.box {
  &__details {
    padding: 8px 20px;
    border-radius: 16px;
    background-color: $color-gray-100;
  }
  &__item {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    font-size: 14px;
    line-height: 19px;
    @include dividerBottomSolid();
    &:last-child {
      border-bottom: none;
    }
  }
  &__label {
    width: 86px;
    flex-shrink: 0;
    color: $color-gray-500;
  }
  &__value {
    font-weight: 500;
    display: block;
    text-align: right;
  }
}
