@for $i from 0 through 20 {
  .w-#{$i} {
    width: $i * 4px;
  }
  .h-#{$i} {
    height: $i * 4px;
  }
  .mt-#{$i} {
    margin-top: $i * 4px !important;
  }

  .mb-#{$i} {
    margin-bottom: $i * 4px !important;
  }

  .mr-#{$i} {
    margin-right: $i * 4px !important;
  }

  .ml-#{$i} {
    margin-left: $i * 4px !important;
  }

  .mx-#{$i} {
    margin-left: $i * 4px !important;
    margin-right: $i * 4px !important;
  }

  .my-#{$i} {
    margin-top: $i * 4px !important;
    margin-bottom: $i * 4px !important;
  }

  .pt-#{$i} {
    padding-top: $i * 4px !important;
  }

  .pb-#{$i} {
    padding-bottom: $i * 4px !important;
  }

  .py-#{$i} {
    padding-top: $i * 4px !important;
    padding-bottom: $i * 4px !important;
  }

  .px-#{$i} {
    padding-left: $i * 4px !important;
    padding-right: $i * 4px !important;
  }

  .gap-#{$i} {
    gap: $i * 4px;
  }

  .flex-#{$i} {
    flex: $i;
  }
}

.w-full {
  width: 100%;
}

.d-flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.opacity-0 {
  opacity: 0;
}

.hidden {
  display: none;
}
