@mixin customPlaceholder($color, $fontWeight: 400) {
  &::-webkit-input-placeholder {
    color: $color;
    font-weight: $fontWeight;
  }

  &::-moz-placeholder {
    color: $color;
    font-weight: $fontWeight;
  }

  &::-moz-placeholder {
    color: $color;
    font-weight: $fontWeight;
  }

  &::-ms-input-placeholder {
    color: $color;
    font-weight: $fontWeight;
  }
}

@mixin animationTranslate($name, $keyFrom, $keyTo, $fromValue, $toValue) {
  @keyframes #{$name} {
    #{$keyFrom} {
      transform: translateY($fromValue);
    }

    #{$keyTo} {
      transform: translateY($toValue);
    }
  }
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin dividerBottomSolid() {
  border-bottom: 1px solid $color-gray-200;
}