.page__wrapper {
  height: 100vh;
  overflow-y: auto;
}

.page__container {
  padding: 0 24px;
}

.page__title {
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
  margin: 0;
}

.text-dropdown__wrapper {
  padding: 12px 0;
}

.page__form {
  padding: 20px 24px 150px;
}

.page-success {
  height: 100vh;
  overflow-y: auto;
  padding: 56px 24px 150px;
  .success {
    &__header {
      @include flexCenter();
      flex-direction: column;
      padding-top: 24px;
      padding-bottom: 32px;
    }
    &__img {
      width: 64px;
      height: 64px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &__title {
      margin-top: 16px;
      font-size: 22px;
      font-weight: 700;
      line-height: 28px;
      text-align: center;
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 16px 0;
      border-bottom: 1px solid $color-gray-200;
    }
  }

  .note {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: $color-gray-550;
    text-align: center;
  }

  .success-info__item {
    display: flex;
    font-size: 14px;
    line-height: 19px;
    gap: 16px;
  }

  .success-info__label {
    width: 112px;
    flex-shrink: 0;
    color: $color-gray-500;
  }

  .success-info__value {
    font-weight: 500;
  }

  .success-icon-buttons {
    @include flexCenter();
  }
}

.bg-white {
  background-color: $color-white;
}

.page-gradient {
  background-image: linear-gradient(179.73deg, $color-blue-100 0.23%, #e2eaff 0.24%, #ffffff 99.77%);
  background-size: 100% 200px;
  background-repeat: no-repeat;
}
