// color
$colors: (
  'primary': #1677ff,
  'secondary': #18e18c,
  'error': #f5222d,
  'warning': #faad14,
  'dark': #222,
  'light': #eee
);

// global color
$color-white: #ffffff;
$color-black: #000000;
$color-blue-100: #E6EDFF;
$color-blue-200: #B3C8FF;
$color-blue-300: #94ABFA;
$color-blue-400: #4C7DFF;
$color-blue-500: #005DF9;
$color-blue-600: #0046FF;
$color-blue-700: #0040E8;
$color-blue-800: #1539CB;
$color-blue-900: #102FA8;
$color-gray-50: #F8F9FC;
$color-gray-100: #F3F6FB;
$color-gray-200: #EBEFF5;
$color-gray-250: #E1E6EC;
$color-gray-300: #D6DBE1;
$color-gray-400: #B9C1C9;
$color-gray-500: #808892;
$color-gray-550: #6C747E;
$color-gray-600: #565B64;
$color-gray-700: #3A3F49;
$color-gray-800: #24272D;
$color-gray-850: #1B1E23;
$color-gray-900: #121418;

//button-text-color
$text-colors: (
  color-white: $color-white,
  color-white-blur: rgba(255, 255, 255, 0.4),
  color-dark-blue: $color-blue-900,
  color-blue: $color-blue-900,
  color-grey-blur: $color-gray-900,
  color-black: $color-gray-900,
  color-grey: #76797e,
  color-dark-jungle: #222428,
  color-platinum: $color-blue-900,
  color-blue-blur: $color-blue-900,
  santa-gray: $color-gray-900,
  error-light-red: $color-blue-900
);

@function text-color($color) {
  @return map-get($text-colors, $color);
}

// background-color
$background-colors: (
  color-white: $color-white,
  color-blue: $color-blue-900,
  color-grey-blur: $color-blue-900,
  color-gray-scale: #eef0f6,
  color-platinum: $color-blue-900,
  color-blue-blur: $color-blue-900,
  dark-sky-blue: $color-blue-900,
  santa-gray: $color-gray-900,
  error-light-red: $color-blue-900
);

@function background-color($color) {
  @return map-get($background-colors, $color);
}

$btn-bg-colors: (
  color-blue: $color-blue-500,
  color-medium-blue: $color-blue-900,
  color-dark-blue: $color-blue-900,
  color-grey: #2c3b4e,
  color-transparent: transparent
);

@function bt-bg-color($color) {
  @return map-get($btn-bg-colors, $color);
}
//button-colorbackground-active
$button-type-maps: (
  filled__primary: (
    background-nor: bt-bg-color(color-blue),
    background-active: $color-blue-900,
    background-disabled: $color-gray-250,
    text-color: text-color(color-white),
    text-color-active: text-color(color-white),
    text-color-disable: $color-gray-400
  ),
  background: (
    background-nor: bt-bg-color(color-dark-blue),
    background-active: bt-bg-color(color-grey),
    text-color: text-color(color-white),
    text-color-active: text-color(color-white),
    text-color-disable: text-color(color-white-blur)
  ),
  outlined__primary: (
    background-nor: $color-white,
    background-active: $color-blue-100,
    text-color: $color-blue-600,
    text-color-active: $color-blue-900,
    text-color-disable: $color-blue-200
  )
);
//icon-color
$icon-colors: (
  //blue-color
  'blue-800': #1e59cf,
  'blue-500': #17bed9,
  'blue-300': #aad0ff,
  //emerald-color
  'emerald-800': #0c8593,
  'emerald-500': #4f8bf4,
  'emerald-200': #82dfee,
  //mint-color
  'mint-700': #008359,
  'mint-400': #2eb086,
  'mint-200': #b4e3d3,
  //purple-color
  'purple-700': #4536ad,
  'purple-400': #6a66ce,
  'purple-200': #a6a6e3,
  // mustard-color
  'mustard-900': #f68a31,
  'mustard-700': #ffc947,
  'mustard-200': #fff6a4,
  // coral-color
  'coral-700': #f14232,
  'coral-300': #ff6a63,
  'coral-100': #ffcbce,
  // rose-color
  'rose-700': #b8405e,
  'rose-300': #e45b7c,
  'rose-100': #f5c0cf,
  // brown-color
  'brown-500': #714e29,
  'brown-300': #a08063,
  'brown-100': #dfc7b1,
  // gray-color
  'gray-800': #43454a,
  'gray-600': #76797e,
  'gray-350': #d0d2d8,
  // navy-color
  'navy-700': #4e637d,
  'navy-400': #8398b6,
  'navy-100': #cddcef
);

// font-size
$button-font-size: 17px;
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
//size
$sizes: (
  'small': $font-size-sm,
  'medium': $font-size-lg,
  'large': $font-size-xl
);
// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 10px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
