@import 'styles/utilities/variables';
.enter-account-information__wrapper {
  height: calc(100vh - 145px);
  overflow: auto;
  &.installment-saving {
    .chips__wrapper {
      justify-content: flex-start !important;
    }
  }
}
.enter-account-information__content {
  padding-top: 10px;
  padding-bottom: 50px;
  .page__title {
    padding: 10px 0 16px;
  }
  .enter-account {
    &__account-number {
      margin-top: 6px;
      font-size: 14px;
      line-height: 19px;
      font-weight: 500;
    }
    &__interest-rate {
      padding: 12px 0;
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      .interest-rate__arrow {
        color: $color-gray-300;
        font-size: 16px;
        display: flex;
        align-items: center;
      }
    }
    &__term {
      margin-top: 6px;
      display: flex;
      font-size: 14px;
      line-height: 19px;
      gap: 17px;
    }
  }
  .info__wrapper {
    .info__icon {
      font-size: 17px;
    }
  }
  .checklist___options {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .option-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .checkbox {
    width: unset;
  }
  .item__tooltip {
    color: $color-gray-400;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .third-party__section {
    padding-top: 24px;
  }
  .third_party-form__wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
  }
}
