@import 'styles/utilities/variables';
@import 'styles/utilities/mixin';

.open-account-successful__wrapper {
  height: 100vh;
  overflow-y: auto;
  padding: 56px 24px;
  .open-account {
    &__header {
      @include flexCenter();
      flex-direction: column;
      padding-top: 24px;
      padding-bottom: 32px;
    }
    &__img {
      width: 64px;
      height: 64px;
    }
    &__title {
      margin-top: 16px;
      font-size: 22px;
      font-weight: 700;
      line-height: 28px;
      text-align: center;
      .product-type {
        color: $color-blue-500;
      }
      .note {
        padding: 0 20px;
        margin-top: 12px;
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
        color: $color-gray-550;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 16px 0;
      .account-item {
        display: flex;
        font-size: 14px;
        line-height: 19px;
      }

      .account-label {
        width: 130px;
        flex-shrink: 0;
        color: $color-gray-500;
      }

      .account-value {
        font-weight: 500;
      }
    }
  }
}
