.cards {
  background-color: #f8f8fa;
  .top__wrapper {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 60px;
    .title-inline {
      margin-left: -24px;
    }
  }
  .header__outline {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
  }
  .header__wrapper {
    background-color: #f8f8fa;
    min-height: 60px;
    position: absolute;
    &.down {
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 500ms;
    }
    .header__back {
      .title-inline {
        width: 100%;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 140%;
        color: #222428;
      }
    }
  }
  .body__wrapper {
    height: 100vh;
    .card-list {
      width: auto;
      height: inherit;
      margin: auto;
      background: #eaedf5;
      border-radius: 16px 16px 0px 0px;
      padding-top: 1px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      &.no_card {
        .card-item {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .card-item {
        position: relative;
        margin: auto;
        margin-top: 27px;
        width: 240px;
        height: 378px;
        border-radius: 16px;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        left: -2px;

        transition: all 0.4s;

        > p,
        label,
        span {
          height: 14px;
          font-size: 14px;
        }
        &.no_card {
          background: #4f8bf4;
        }
        &.flip-transform {
          transform: rotateY(180deg);
          .front-info {
            visibility: hidden;
          }
          .opacityBackground {
            display: none;
          }
        }
        &.flip-transform-front {
          .front-info {
            -webkit-animation: fadeInCardInfo 0.6s ease-in;
            animation: fadeInCardInfo 0.6s ease-in;
          }
        }
        .requiredActivate {
          height: 100%;
          top: 0;
          width: 100%;
          left: 0;
          background: rgba(0, 0, 0, 0.6);
          border-radius: 17px;
          position: absolute;
          z-index: 999;
          .required-activate-cardnm {
            height: auto;
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 150%;
            text-align: center;
          }
          .required-activate-action {
            font-size: 15px;
            font-weight: 500;
          }
          .image-activate {
            margin-top: 50px;
            margin-left: 25px;
          }
          > div {
            margin: auto;
            margin-top: 0;
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 140%;
            text-align: center;
            width: 169px;
            color: #ffffff;
          }
        }
        .flip-button {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 4px 12px 4px 8px;
          gap: 2px;
          position: absolute;
          width: 114px;
          height: 28px;
          left: 18px;
          bottom: 15px;
          background: rgba(255, 255, 255, 0.2);
          border-radius: 6px;
          border-style: none;
          text-overflow: ellipsis;
          overflow: hidden;
          &.afterFlipped {
            transition: transform 0.1s;
            transform: rotateY(180deg);
            left: 105px;
            background: transparent;
            border: 1px solid #ffff;
            z-index: 9999;
          }
          > span {
            width: 80px;
            height: 20px;
            font-style: normal;
            font-weight: 510;
            font-size: 13px;
            line-height: 150%;
            text-align: center;
            color: #ffffff;
            white-space: nowrap;
          }
          &::after {
            z-index: -1;
            top: 0;
            left: 0;
            content: '';
            position: absolute;
            width: 120px;
            height: 40px;
            background-color: transparent;
          }
        }
      }
      .slick-slide.slick-current {
        .card-item {
          left: 0;
        }
      }
      .slick-slider {
        max-height: 449px;
        .slick-slide {
          transform: scale(0.8);
          opacity: 0.7;
          transition: all ease 0.5s;
          &.slick-current {
            transform: scale(1);
            opacity: 1;
            width: 240px !important;
          }
        }
        .slick-list {
          max-height: 449px;
          padding: 0px calc((100vw - 240px) / 2) !important;
          .slick-track {
            min-width: 1640px;
          }
        }
      }

      .dot__wrapper {
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          li {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            width: 18px;
            height: 18px;
            button {
              width: 6px;
              height: 6px;
              padding: 0;
              outline: none;
              border: none;
              border-radius: 50%;
              background-color: #bec1c6;
            }
          }
          li.dot-active {
            button {
              background: #2c3b4e;
            }
          }
        }
      }
    }
    .flip-card-back,
    .flip-card-front {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 16px;
    }
    .flip-card-back {
      background: #3f5067;
      border-radius: 16px;
      transform: rotateY(180deg);
      .back-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        position: absolute;
        width: 200px;
        height: 265px;
        left: 18px;
        top: 20px;
        .content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;
          height: 233px;
          p {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 100%;
            color: #f3f6fb;
          }
        }
        .divider {
          width: 148px;
          height: 1px;
          background: rgba(255, 255, 255, 0.15);
          margin-bottom: 16px;
        }
        .saving-account {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 2px 0px;
          height: 35px;
          & :first-child {
            font-weight: 700;
            font-size: 15px;
          }
          & :not(:first-child) {
            margin-top: 4px;
          }
        }
        .available-info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 2px 0px;
          height: 31px;
          margin-top: 10px;
          margin-bottom: 18px;
          & :not(:first-child) {
            margin-top: 4px;
          }
          > label {
            height: 10px;
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 100%;
            color: rgba(255, 255, 255, 0.4);
          }
        }
        .limit-withdraw {
          margin-top: 16px;
        }
        .limit-purchase,
        .limit-withdraw {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 2px 0px;
          height: 55px;
          & :not(:first-child) {
            margin-top: 4px;
          }
          > label {
            height: 10px;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 100%;
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
    .flip-card-front {
      .opacityBackground {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 16px;
        background-color: rgba(0, 0, 0, 0.6);
      }
      &.isRequiredActivate {
        border-radius: 17px;
      }
      .blurBackground {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 16px;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(3px);
      }
      .no-card-content-top {
        position: absolute;
        width: 139px;
        height: 69px;
        left: 20px;
        top: 34px;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 150%;
        color: #ffff;
      }
      .add-new-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px 12px;
        position: absolute;
        width: auto;
        height: 36px;
        min-height: 36px;
        left: 20px;
        bottom: 20px;
        font-weight: 500;
        font-size: 13px;
        line-height: 150%;
        background: #eef0f6;
        border-radius: 8px;
        color: #222428;
        > section {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .no-card-image {
        position: absolute;
        width: 167.98px;
        height: 196.74px;
        left: 72px;
        top: 106px;
      }
      .front-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: 215px;
        color: #ffffff;
        z-index: 999;
        position: absolute;
        bottom: 80px;
        left: 20px;
        &.short__height {
          height: 140px;
        }
        .card-type {
          width: 179px;
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          line-height: 150%;
          color: #ffffff;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          margin-bottom: 16px;
        }
        .card-number {
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 100%;
          text-align: center;
          color: #ffffff;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          margin-bottom: 16px;
        }
        .card-valid {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 0px;
          gap: 16px;
          width: 215px;
          height: 27px;
          margin-bottom: 16px;
          .left-valid {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            width: 51px;
            height: 27px;
            margin-right: 10px;
            white-space: nowrap;
            & :not(:first-child) {
              margin-top: 4px;
            }
            > label {
              height: 10px;
              font-style: normal;
              font-weight: 400;
              font-size: 13px;
              line-height: 100%;
              color: rgba(255, 255, 255, 0.5);
            }
            > p {
              font-style: normal;
              font-weight: 400;
              line-height: 100%;
              font-size: 15px;
              color: #eeeeee;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              &.cvc-code {
                text-decoration: underline;
                &.noUnderline {
                  text-decoration: none;
                }
              }
            }
          }
          .right-valid {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            height: 27px;
            & :not(:first-child) {
              margin-top: 4px;
            }
            &.words-long-break {
              word-break: break-word;
              width: 166px;
            }
            > label {
              height: 10px;
              font-style: normal;
              font-weight: 400;
              font-size: 11px;
              line-height: 150%;
              color: rgba(255, 255, 255, 0.4);
            }
            > p {
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
              color: #eeeeee;
              font-size: 14px;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
          }
        }
      }
    }
    .card-options {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      position: relative;
      width: 100%;
      left: 0px;
      top: 30px;
      background: #f6f6f9;
      border-radius: 16px 16px 0px 0px;
      height: 323px;
      .option-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24.5px;
        gap: 0px;
        width: 100%;
        max-height: 323px;
        background: #ffffff;
        border-radius: 16px;
        &::-webkit-scrollbar {
          display: none;
        }
        li ~ li {
          margin-top: 18px;
        }
        > li {
          width: 100%;
          > svg,
          label {
            float: left;
          }
          > label {
            margin-left: 19.75px;
            margin-top: 9px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 120%;
            color: #222428;
          }
        }
      }
      .card-add-new {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 129px;
        height: 48px;
        right: 20px;
        bottom: 60px;
        padding: 0px;
        background: #2c3b4e;
        box-shadow: 0px 8px 20px rgb(34 36 40 / 12%);
        border-radius: 1000px;
        border-style: none;
        transition: all 0.2s;
        color: #ffffff;
        font-size: 17px;
        white-space: nowrap;
        & svg {
          margin-right: 10px;
        }
        &.afterScrollTop {
          width: 48px;
          > svg {
            float: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .text-button {
            display: none;
          }
        }
        > svg,
        .text-button {
          float: left;
        }
      }
    }
  }
}

@media screen and (max-height: 780px) {
  .cards {
    .body__wrapper {
      .card-options {
        height: 382px;
      }
    }
  }
}

@media screen and (max-height: 680px) {
  .cards {
    .body__wrapper {
      .card-list {
        &.no_card {
          .card-item {
            height: 378px;
          }
        }
        .slick-slider {
          height: 360px;
        }
        .card-item {
          margin-top: 10px;
          height: 348px;
          transform: scale(0.97);
          left: -25px;
        }
        .slick-slide.slick-current {
          .card-item {
            left: -10px;
          }
        }
        .no-card-image {
          top: 95px;
        }
      }
      .card-options {
        padding: 24px 20px;
        height: 354px;
        .option-list {
          gap: 0px;
          li ~ li {
            margin-top: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-height: 580px) {
  .cards {
    .body__wrapper {
      .card-options {
        padding: 24px 20px;
        height: 150px;
      }
    }
  }
}

@media screen and (min-height: 800px) {
  .cards {
    .body__wrapper {
      .card-list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      .card-options {
        top: 0px;
      }
    }
  }
}

// reponsive slick dot
@media screen and (max-height: 699px) {
  .cards {
    .body__wrapper {
      .card-list {
        .slick-slider {
          .slick-dots {
            bottom: -14px;
          }
        }
        &.chrome {
          .slick-slider {
            .slick-dots {
              bottom: -17.5px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-height: 650px) and (max-height: 829px) {
  .cards {
    .body__wrapper {
      .card-list {
        .slick-slider {
          .slick-dots {
            bottom: -24px;
          }
        }
        &.chrome {
          .slick-slider {
            .slick-dots {
              bottom: -17.5px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-height: 830px) and (max-height: 840px) {
  .cards {
    .body__wrapper {
      .card-list {
        .slick-slider {
          .slick-dots {
            bottom: -33px;
          }
        }
      }
    }
  }
}

@media screen and (min-height: 841px) and (max-height: 855px) {
  .cards {
    .body__wrapper {
      .card-list {
        .slick-slider {
          .slick-dots {
            bottom: -33px;
          }
        }
      }
    }
  }
}

@media screen and (min-height: 856px) and (max-height: 860px) {
  .cards {
    .body__wrapper {
      .card-list {
        .slick-slider {
          .slick-dots {
            bottom: -40px;
          }
        }
      }
    }
  }
}

@media screen and (min-height: 901px) and (max-height: 950px) {
  .cards {
    .body__wrapper {
      .card-list {
        .slick-slider {
          .slick-dots {
            bottom: -59px;
          }
        }
      }
    }
  }
}

@media screen and (min-height: 951px) and (max-height: 1100px) {
  .cards {
    .body__wrapper {
      .card-list {
        .slick-slider {
          .slick-dots {
            bottom: -75px;
          }
        }
      }
    }
  }
}

@media screen and (min-height: 1101px) and (max-height: 1200px) {
  .cards {
    .body__wrapper {
      .card-list {
        .slick-slider {
          .slick-dots {
            bottom: -100px;
          }
        }
      }
    }
  }
}

// Responsive by Witdh

@media screen and (max-width: 370px) and (min-height: 800px) {
  .cards .body__wrapper .card-options .card-add-new {
    width: 48px;
    height: 48px;
    font-size: 0px;
    svg {
      margin-right: 0px;
    }
  }
}

//reponsive z-fold
@media screen and (min-width: 769px) and (max-width: 992px) {
  .cards {
    .body__wrapper {
      .card-list {
        .slick-slider {
          .slick-list {
            .slick-track {
              min-width: 1674px;
            }
          }
        }
      }
    }
  }
}
//reponsive z-fold folded
@media screen and (min-width: 330px) and (max-width: 400px) {
  .cards {
    .body__wrapper {
      .card-list {
        .slick-slider {
          .slick-list {
            .slick-track {
              min-width: 3000px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .cards {
    .body__wrapper {
      .card-list {
        .slick-slider {
          .slick-list {
            .slick-track {
              min-width: 1674px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .cards {
    .body__wrapper {
      .card-list {
        .slick-slider {
          .slick-list {
            padding: 0px calc((100vw - 240px) / 2) !important;
          }
          .card-item {
            left: 0px;
          }
        }
        .slick-slide.slick-current {
          .card-item {
            left: 0px;
          }
          .flip-card-front {
            .front-info {
              left: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 413px) {
  .cards {
    .body__wrapper {
      .card-list {
        .slick-slider {
          .card-item {
            width: 240px;
            left: 0px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 392px) {
  .cards {
    .body__wrapper {
      .card-list {
        .slick-slider {
          .card-item {
            left: -4px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .cards {
    .body__wrapper {
      .card-list {
        .slick-slider {
          .card-item {
            left: -20px;
            transform: scale(0.94);
            &.flip-transform {
              transform: rotateY(180deg) scale(0.94);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .cards {
    .body__wrapper {
      .card-list {
        .slick-slider {
          .card-item {
            left: -28px;
            transform: scale(0.9);
            &.flip-transform {
              transform: rotateY(180deg) scale(0.9);
            }
          }
        }
      }
    }
  }
}

@keyframes fadeInCardInfo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
