@import 'styles/utilities/variables';

.product-list__wrapper {
  height: 100vh;
  overflow-y: auto;
  .scroll-anchor-tab__wrapper {
    & > div:last-child {
      min-height: calc(100vh - 282px);
    }
    margin-top: 56px;
    padding: 20px 24px 150px;
    overflow-y: auto;
    height: calc(100vh - 56px - 56px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    .banking__content {
      margin-bottom: 10px;
    }
    .investment__content {
      margin-bottom: 10px;
    }
    .borrowing__content {
      .banner__container {
        width: 70%;
      }
    }
    .product-list__title {
      font-size: 17px;
      line-height: 22px;
      font-weight: 600;
    }

    .product-list__banner {
      min-height: 240px;
      margin-top: 16px;
      border-radius: 16px;
      position: relative;
      display: flex;
      flex-direction: column;
    }
    .banking {
      background-color: $color-blue-100;
    }
    .investment {
      background-color: $color-green-100;
    }
    .borrowing {
      background-color: $color-blue-350;
    }
    .banner__container {
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .product-content {
      .product-content__title {
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
      }
    }

    .product-banner {
      &__desc {
        flex-grow: 1;
        .product__type {
          font-size: 20px;
          line-height: 25px;
          font-weight: 700;
        }

        .product__desc {
          margin-top: 8px;
          font-size: 13px;
          line-height: 18px;
          color: $color-gray-600;
          font-weight: 400px;
        }
      }
      &__spec {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .product__item {
          display: flex;
          align-items: baseline;
          gap: 6px;
          .item__label {
            font-size: 13px;
            line-height: 18px;
            color: $color-gray-550;
            padding: 4px 6px;
            background-color: $color-white;
            border-radius: 4px;
          }
          .item__value {
            display: flex;
            gap: 4px;
            margin-top: 2px;
            align-items: baseline;
            .item__quantity {
              font-weight: 600;
              font-size: 16px;
              line-height: 21px;
            }
            .item__unit {
              font-weight: 500;
              font-size: 16px;
            }
          }
        }
      }
      &__image {
        position: absolute;
        bottom: -8px;
        right: 1px;
        img {
          width: 119px;
          height: 148px;
          object-fit: contain;
        }
      }
    }

    .term-condition__checklist {
      margin-top: 20px;
    }
  }

  .term-condition__checklist {
    margin-top: 20px;
  }
}
