@import 'styles/utilities/variables';

.product-list__wrapper {
  height: 100vh;
  .header__wrapper {
    height: 60px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .product-list-header__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
  }
  .scroll-anchor-tab__wrapper {
    .anchor__tab__wrapper {
      padding-left: 24px;
      padding-right: 24px;
      background: linear-gradient(180deg, #ffffff 88.94%, rgba(255, 255, 255, 0) 100%);
    }
    .scroll-anchor__content {
      height: calc(100vh - 116px);
      overflow: auto;
      padding: 16px 24px 32px;
    }
  }
  .product-list__main {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .product-type-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .product-list__title {
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
    color: $color-gray-700;
  }

  .product-card__item {
    min-height: 240px;
    border-radius: 16px;
    position: relative;
    padding: 24px;
    &.banking {
      background-color: $color-blue-100;
    }
    &.investment {
      background-color: $color-green-100;
    }
    &.borrowing {
      background-color: $color-blue-350;
      .product-card__main {
        gap: 12px;
      }
    }
  }
  .product-card__main {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .product-borrowing__sub {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    width: 160px;
  }

  .product-type-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .product-card {
    &__desc {
      flex-grow: 1;
      .product__type {
        font-size: 20px;
        line-height: 25px;
        font-weight: 600;
      }

      .product__desc {
        margin-top: 8px;
        font-size: 13px;
        line-height: 18px;
        color: $color-gray-600;
        width: 180px;
      }
    }
    &__spec {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    &__image {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 176px;
      width: 140px;
      display: flex;
      align-items: flex-end;
      img {
        // height: 100%;
        width: 100%;
        // object-fit: contain;
      }
    }
  }

  .product__item {
    display: flex;
    align-items: baseline;
    gap: 6px;
    .item__label {
      font-size: 12px;
      line-height: 16px;
      color: $color-gray-850;
      padding: 4px 6px;
      background-color: $color-white;
      border-radius: 4px;
    }
    .item__value {
      display: flex;
      gap: 4px;
      align-items: baseline;
      font-size: 16px;
      line-height: 21px;
      font-weight: 500;
    }
    .item__quantity {
      font-weight: 600;
    }
  }
}

.borrowing-instruction-bottom__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .borrowing-title {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
  }
  .borrowing-description {
    margin-top: 8px;
    font-size: 16px;
    line-height: 21px;
    color: $color-gray-550;
    text-align: center;
  }
  .borrowing-icon-buttons {
    padding: 32px 0 16px;
    display: flex;
    gap: 56px;
  }
}
