.notification {
  &__wrapper {
    .tabs__wrapper {
      overflow-y: scroll;
      width: 100%;
      .tabs__list {
        flex: 1;
      }
    }

    .tabs__wrapper::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
  & .home__banner {
    box-shadow: 0 0 0.5px rgb(222 220 220);
  }
  &__header {
    & .expand {
      margin-bottom: 0;
    }
  }
  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &__list {
    overflow-y: scroll;
    height: calc(100vh - 107px);
    padding-bottom: 50px;
    &.checking {
      height: 100vh;
      padding-bottom: 170px;
      & .list__left {
        column-gap: 8px;
      }
    }
    &.benefits {
      height: 100vh;
      padding-bottom: 170px;
      & .home__banner__heading__main {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__bottom__sheet {
    & .bottom__sheet__content {
      padding-top: 0;
    }
    & .bottom__sheet__header {
      padding: 20px 20px 10px 20px;
    }
    & .bottom__sheet__header .header__content {
      max-width: 400px;
    }
    & .bottom__sheet__header__close {
      position: absolute;
      top: 30px;
      right: 30px;
    }
  }
}

@media screen and (min-width: 500px) {
  .home__banner__content.small {
    width: 80%;
  }
  .benefit__detail__content {
    padding-bottom: 500px;
  }
}
