.account__option {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  padding: 10px 0 10px 0;

  width: 200px;
  height: auto;
  position: absolute;
  top: 10px;
  right: 40px;

  background: #ffffff;
  box-shadow: 0px 1.7px 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  z-index: 999;

  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    column-gap: 10px;
    color: #222428;
    
    &:hover {
      background: #f5f5f5;
    }
  }
}