@import 'styles/utilities/variables';
@import 'styles/utilities/mixin';

.branch-directory__wrapper {
  height: 100vh;
  overflow-y: auto;
}

.branch-directory__content {
  padding-top: 16px;
  .branch-directory__item {
    .accordion__item__content {
      @include dividerBottomSolid();
    }
    &:last-child {
      .accordion__item__content {
        border: none;
      }
    }
    .table__item__value {
      &.phone {
        text-decoration: underline;
        font-weight: 500;
      }
    }
  }
}
