.accordion__wrapper {
  width: 100%;
  background-color: $color-white;
  .accordion__item {
    width: 100%;
    padding: 20px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  .accordion {
    &__icon {
      transition: transform 0.2s ease-in-out;
      font-size: 16px;
      color: $color-gray-550;
      height: 16px;
      width: 16px;
      &.open {
        transform: rotate(180deg);
      }
    }
    &__label {
      font-size: 13px;
      line-height: 18px;
      color: $color-blue-700;
    }
    &__title {
      font-size: 16px;
      line-height: 21px;
      font-weight: 500;
    }
    &__caption {
      margin-top: 4px;
      font-size: 14px;
      line-height: 19px;
      color: $color-gray-700;
    }
    &__time {
      margin-top: 4px;
      line-height: 18px;
      color: $color-gray-550;
    }
    &__panel {
      background: $color-gray-100;
      padding: 20px 24px;
      z-index: 99;
      transition: transform 0.2s ease-in-out;

      &.open {
        display: block;
        animation: fadeIn 0.3s;
      }

      &.close {
        display: none;
      }
    }
    &__table__bottom {
      .table__info {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
      .table__item {
        display: flex;
        gap: 16px;
        font-size: 14px;
        line-height: 19px;
      }
      .table__item__label {
        width: 86px;
        flex-shrink: 0;
        color: $color-gray-500;
      }
    }
    &__ctas {
      margin-top: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }
  }
}
@keyframes fadeIn {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}
