.bottom__sheet__wrapper {
  & .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 1000;

    &.show {
      display: block;
    }
  }
}

.bottom__sheet {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 16px rgba(34, 36, 40, 0.16);
  border-radius: 24px 24px 0px 0px;

  position: fixed;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  z-index: 1000;
  padding-bottom: 25px;
  &.include-footer {
    .bottom__sheet__content {
      overflow-y: hidden;
      display: flex;
      flex-direction: column;
    }
    .bottom__content-main {
      overflow-y: auto;
      padding-bottom: 120px;
    }
  }

  &__header {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px 24px 16px;

    .header__content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &.notitle {
      .header__content {
        justify-content: flex-end;
      }
    }

    &__close {
      font-size: 20px;
    }

    &__title {
      font-size: 17px;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__sub-title {
      margin-top: 4px;
      font-size: 14px;
      line-height: 19px;
      color: $color-gray-700;
    }

    &__docker {
      width: 48px;
      height: 3px;
      background: #e1e3e9;
      border-radius: 100px;
      position: absolute;
      top: 7px;
      left: 50%;
      transform: translate(-50%);
    }
  }

  &.show {
    transform: translateY(0);
    animation: 0.3s alternate slideUp;

    // case bottom sheet show 90%
    &.pulled-90 {
      transform: translateY(10%);
      animation: 0.3s alternate slideUp-pulled-90;
    }
  }

  &.hidden {
    transform: translateY(10000%);

    &.animate {
      animation: 0.3s alternate slideDown;

      &.pulled-90 {
        animation: 0.3s alternate slidedown-pulled-90;
      }
    }
  }

  &.middle {
    height: 321px;
  }

  &.max {
    height: 93vh;
  }

  &.max-scroll {
    height: 92vh;
  }

  &.pulled-90 {
    height: 90%;
  }

  &.fit-content {
    height: fit-content;
    max-height: 93vh;
  }

  &__content {
    padding: 0 24px;
    overflow: auto;
    &.max-scroll {
      overflow-y: scroll;

      &::-webkit-scrollbar-thumb {
        background-color: $color-gray-400;
        border-radius: 8px;
        height: 10%;
      }
    }
  }

  .btn__ctas {
    padding-top: 32px;
    display: flex;
    gap: 8px;
  }

  .bottom__footer {
    position: absolute;
    z-index: 1000;
    bottom: 0;
    width: calc(100% - 48px);
    padding: 30px 0;
    background-color: $color-white;
  }
}

.bottom__dropdown__wrapper {
  .dropdown__option {
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    font-size: 16px;
    border-bottom: 1px solid $color-gray-200;
    cursor: pointer;
    color: $color-gray-900;

    &:last-child {
      border: none;
    }

    .option__label {
      font-weight: 500;
      line-height: 21px;
    }
  }
}

@include animationTranslate(slideUp, from, to, 100%, 0%);
@include animationTranslate(slideUp-pulled-90, from, to, 100%, 10%);
@include animationTranslate(slideDown, 0%, 100%, 0%, 100%);
@include animationTranslate(slidedown-pulled-90, 0%, 100%, 10%, 100%);
