.debit__bottom {
  & .bottom__sheet__content {
    padding: 0 22px 22px 22px;
  }
  &__header {
    font-weight: 700;
    font-size: 22px;
    & .bottom__type {
      color: #222428;
    }
    & .card__name {
      color: #3270ea;
      margin-top: 8px;
    }
  }
  &__data {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    & .data__divider {
      width: 100%;
      height: 1px;
      background: rgba(225, 227, 233, 0.6);
    }
    & .data__table {
      font-size: 13px;
      padding: 15px 0;

      display: flex;
      column-gap: 16px;
      &:not(:first-child) {
        border-top: 1px solid rgba(225, 227, 233, 0.6);
      }

      & .item__name {
        font-weight: 400;
        color: #76797e;
        width: 86px;
      }
      & .item__data {
        font-weight: 700;
        color: #222428;
        flex: 1;
      }
      & .item__linked {
        display: flex;
        flex-direction: column;
        & :not(:first-child) {
          margin-top: 10px;
        }
      }
    }
  }
  &__info {
    margin-top: 16px;
    margin-bottom: 36px;
    & .info__wrapper {
      width: auto;
    }
  }
  &__footer {
    margin-top: 17px;
    & .debit__button__action {
      width: 100%;
      max-width: 100%;
    }
  }
}
