.divider {
  &__item__solid {
    border-bottom: 1px solid $color-gray-200;
  }
  &__item__black {
    border-bottom: 1px solid $color-gray-900;
  }
  &__group {
    height: 8px;
    background-color: $color-gray-100;
  }
}