.dropdown__wrapper {
  width: 100%;
  min-height: 56px;
  padding: 18px;
  overflow: hidden;

  border-radius: 10px;
  border: 1px solid $color-gray-300;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: height ease-in-out 0.15s;
  gap: 16px;

  &.dropdown__focus {
    border: 1px solid border-color(color-primary) !important;
  }

  &.disable {
    background: $color-gray-100;
    &.has-value {
      background: $color-gray-50;
    }
  }

  .dropdown__icon {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
    &.disable {
      color: $color-gray-300;
    }
  }

  .dropdown__label {
    left: 20px;
    font-weight: 400;
    font-size: 16px;
    color: $color-gray-500;
    &.disable {
      color: $color-gray-400;
    }
  }

  .dropdown__value {
    width: 100%;
  }

  .dropdown__main {
    flex-grow: 1;
  }

  &.dropdown__focus,
  &.dropdown__completed {
    min-height: 72px;
    padding: 15px 18px;
    .dropdown__label {
      font-size: 13px;
      font-weight: 400;
      color: $color-gray-500;
    }
    .dropdown__value {
      display: block;
      min-height: 21px;
      margin-top: 8px;
      font-weight: 500;
    }
  }
}

.dropdown__character__counter {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: text-color(santa-gray);
  text-align: end;

  margin: 6px 8px;

  &.disable {
    color: text-color(color-grey-blur);
  }
}
.dropdown__subtitle {
  margin-top: 6px;
  padding-left: 20px;
  font-size: 12px;
  font-weight: 400;
  color: text-color(santa-gray);

  &.error {
    color: text-color(error-light-red);
  }
}

.text-dropdown {
  &__main {
    display: flex;
    column-gap: 8px;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
    row-gap: 4px;
    &.align-vertical {
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
    }
    &.disabled,
    &.readonly {
      .text-dropdown__select-icon {
        color: $color-gray-400;
      }
    }
  }
  &__label {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    &.disabled {
      color: $color-gray-500;
    }
  }
  &__value {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    color: $color-gray-400;
    &.selected {
      color: $color-blue-500;
      &.readonly {
        color: $color-gray-700;
      }
    }
  }
  &__select-icon {
    font-size: 16px;
    margin-top: 2px;
  }
  &__sub {
    margin-top: 8px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
  }
}

.account-dropdown {
  .dropdown__wrapper {
    min-height: 76px !important;
  }
  .dropdown__main {
    min-height: 44px;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .account-icon {
    display: flex;
    height: 44px;
    width: 44px;
    justify-content: center;
    align-items: center;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .dropdown__label {
    display: none !important;
  }
  .dropdown__value {
    margin-top: 0px !important;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
  }
  .account-number {
    font-size: 14px;
    line-height: 19px;
    color: $color-gray-600;
    margin-top: 2px;
  }
}
