.enter-amount__bottomsheet {
  .bottom__sheet__content {
    padding: 0;
  }
  .numpad {
    display: flex;
    flex-flow: row wrap;
    font-size: 20px;
  }
  .btn__keypad {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 33.3333%;
    min-height: 63px;
    background-color: #35415B;
    color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin: -1px;
    &:active {
      background-color: darken(#36425b, 5%);
    }
  }
  .form__wrapper {
    text-align: center;
    padding: 0 24px;
    .account-name {
      font-size: 15px;
      font-weight: 500;
      line-height: 20px;
    }
    .account-number {
      margin-top: 4px;
      font-size: 14px;
      line-height: 19px;
      color: $color-gray-700;
    }
    .account-balance {
      margin-top: 8px;
      font-size: 13px;
      line-height: 18px;
      color: $color-gray-550;
    }
    .currency-selection {
      display: flex;
      justify-content: center;
    }
    .currency-item {
      height: 36px;
      padding: 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      line-height: 19px;
      border: 1px solid $color-gray-300;
      color: $color-gray-500;
      &.selected {
        color: $color-blue-500;
        font-weight: 500;
        border: 1px solid $color-blue-500;
      }
      &:first-child {
        border-radius: 10px 0 0 10px;
      }
      &:last-child {
        border-radius: 0 10px 10px 0;
      }
    }
    .amount-value__wrapper {
      margin-top: 24px;
      height: 41px;
      color: $color-gray-400;
      &.has-value {
        color: $color-blue-500;
      }
    }
    .amount-unit,
    .amount-value {
      font-size: 34px;
      line-height: 41px;
    }
    .amount-value {
      font-weight: 700;
    }
    .amount-value__error-alert {
      margin-top: 8px;
      color: $color-error;
      font-size: 12px;
      line-height: 16px;
      height: 16px;
      @include flexCenter();

      .error-icon {
        font-size: 14px;
      }
    }
    .amount-exchange-rate__wrapper {
      @include flexCenter();
      margin-top: 24px;
      height: 20px;
      font-size: 14px;
      color: $color-gray-700;
    }
    .exchange-rate__value__block {
      display: flex;
      color: $color-blue-500;

      .exchange-rate__value {
        font-weight: 700;
      }
    }
    .refresh-btn {
      font-size: 20px;
      display: flex;
      align-items: center;
    }
    .btn-submit__wrapper {
      margin-top: 12px;
      padding: 24px 0;
      .btn-submit {
        width: 100%;
      }
    }
  }
}
