.info__wrapper {
  min-height: 44px;
  border-radius: 12px;

  padding: 12px 12px 12px 0;
  display: flex;
  align-items: flex-start;

  &.middle {
    align-items: center;
  }

  .info__icon {
    padding-left: 14px;
    font-size: 20px;
  }

  .info__label {
    word-break: break-word;
    color: $color-gray-600;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    padding: 0 8px;

    display: flex;
    align-items: center;
  }

  .info__action {
    font-weight: 600;
    margin-left: 5px;
  }

  &.informative {
    background: rgba(0, 93, 249, 0.1);
    .info__icon {
      color: $color-blue-500;
    }
  }
  &.notice {
    background: rgba(254, 196, 45, 0.16);
    .info__icon {
      color: #fec42d;
    }
  }
  &.negative-dark,
  &.negative {
    background: #ffffff;
    .info__icon {
      color: #f94d49;
    }
    .info__label {
      color: #f94d49;
    }
  }
  &.negative {
    background: rgba(249, 77, 73, 0.1);
  }
}
