@mixin Filled($labelClassName, $textClassName, $bgColor, $textColor) {
  .#{$labelClassName} {
    background-color: #{$bgColor};
  }
  .#{$textClassName} {
    color: #{$textColor};
  }
}

@mixin Outline($labelClassName, $textClassName, $outlineColor, $textColor) {
  .#{$labelClassName} {
    background-color: transparent;
    border: 1px solid $outlineColor;
  }
  .#{$textClassName} {
    color: #{$textColor};
  }
}

@mixin Ghost($textClassName, $color) {
  .#{$textClassName} {
    color: $color;
  }
}

// DEFINE Filled Label
@include Filled(gray__filled, text__gray__filled, $color-gray-200, $color-gray-850);
@include Filled(blue__filled, text__blue__filled, $color-blue-100, $color-blue-800);
@include Filled(mint__filled, text__mint__filled, #d5f4f9, #007d91);
@include Filled(green__filled, text__green__filled, #eaf5f0, #149f6e);
@include Filled(purple__filled, text__purple__filled, #e1e1ff, #4536ad);
@include Filled(orange__filled, text__orange__filled, #ffeac1, #da4a09);
@include Filled(coral__filled, text__coral__filled, #fdebe5, #eb6e47);
@include Filled(rose__filled, text__rose__filled, #fff2f2, #eb3d4f);
@include Filled(brown__filled, text__brown__filled, #f1decd, #804714);

@include Outline(gray__outline, text__gray__outline, $color-gray-500, $color-gray-900);
@include Outline(blue__outline, text__blue__outline, $color-blue-500, $color-blue-500);
@include Outline(mint__outline, text__mint__outline, #0aa6be, #0aa6be);
@include Outline(green__outline, text__green__outline, #149f6e, #149f6e);
@include Outline(purple__outline, text__purple__outline, #7466ce, #7466ce);
@include Outline(orange__outline, text__orange__outline, #f78812, #f78812);
@include Outline(coral__outline, text__coral__outline, #eb6e47, #eb6e47);
@include Outline(rose__outline, text__rose__outline, #eb3d4f, #eb3d4f);
@include Outline(brown__outline, text__brown__outline, #804714, #804714);

@include Ghost(text__primary__ghost, $color-blue-700);

.label {
  width: fit-content;
  height: 24px;
  border-radius: 4px;
  padding: 4px 6px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}
