.infinite__loading {
  width: 32px;
  height: 32px;
  animation: infiniteLoading 1s linear infinite;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);

  & img {
    width: 100%;
    height: 100%;
  }
}

@keyframes infiniteLoading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
