.infinite__loading {
  width: 32px;
  height: 32px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  animation: infiniteLoading 1s linear infinite;
  & img {
    width: 100%;
    height: 100%;
  }
}

@keyframes infiniteLoading {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
