.bottomsheet__qr__card {
  max-height: 90%;
  overflow-y: scroll;
  .qr__card {
    width: 70%;
    box-shadow: 0px 0px 15.225625991821289px 0px #00000029;
    border-radius: 16px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .qr__content__container {
    text-align: center;
  }

  .qr__content {
    // font-family: 'SF Pro';
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #76797e;
    width: 100%;
  }

  .qr__timer {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
  }

  .qr__button {
    width: fit-content;
    border: none;
    border-radius: 8px;
    background: #eef0f6;
    margin: 10px;
    padding: 10px;
    display: inline-block;
  }

  .qr__timer__refresh {
    width: fit-content;
    border: none;
    border-radius: 8px;
    background: #eef0f6;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 50px;
  }
}
