.qr__print__bottomsheet {
  $color_1: white;
  $color_2: rgba(255, 255, 255, 0.5);
  $color_3: rgba(0, 0, 0, 0.6);
  $color_4: rgba(0, 0, 0, 0.4);
  $color_5: black;
  $color_6: red;
  $color_7: rgba(0, 0, 0, 0.2);
  $background-color_1: #36425b;
  $background-color_2: darken(#3270ea, 5%);
  $background-color_3: #3270ea;
  $background-color_4: white;
  .alert__text__1 {
    // font-family: 'SF Pro Display';
    font-size: 22px;
    font-weight: 800;
    line-height: 31px;
    letter-spacing: 0px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .alert__text__2 {
    // font-family: 'SF Pro';
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #76797e;
  }

  .btn__proceed {
    &:active {
      background-color: $background-color_2;
    }
  }

  .btn__proceed {
    // font-family: 'SF Pro';
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: $background-color_3;
    color: $color_1;
  }

  .btn__back {
    // font-family: 'SF Pro';
    width: fit-content;
    border: none;
    text-align: center;
    align-items: center;
    background-color: white;
    font-size: 16px;
    font-weight: 510;
    line-height: 24px;
    letter-spacing: 0px;
    color: #76797e;
    padding: 15px;
  }
}
