.select-terms__bottomsheet {
  .form__wrapper {
    padding-top: 24px;
    .select-terms {
      &__input-hidden {
        background: transparent;
        border: none;
        position: absolute;
        color: transparent;
        outline: none;
        caret-color: transparent;
      }
      &__value {
        display: flex;
        justify-content: center;
        gap: 4px;
        font-size: 34px;
        line-height: 41px;
        color: $color-gray-400;
        margin-bottom: 20px;
        &.has-value {
          color: $color-blue-500;
        }
        .select-terms__number {
          font-weight: 700;
        }
      }
      &__options {
        overflow: auto;
        .chips__wrapper {
          gap: 9px;
          justify-content: center;
        }
      }
      &__error-alert {
        margin-bottom: 12px;
        color: $color-error;
        font-size: 12px;
        line-height: 16px;
        height: 16px;
        @include flexCenter();

        .error-icon {
          font-size: 14px;
        }
      }
    }
    .maturity-date {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      font-size: 14px;
      line-height: 19px;
      color: $color-gray-700;
      gap: 17px;
    }
    .btn-submit__wrapper {
      margin-top: 24px;
      .btn-submit {
        width: 100%;
      }
    }
  }
}
