.toast {
  width: 335px;
  padding: 12px 20px;
  word-break: break-word;
  border-radius: 12px;
  position: relative;
  align-items: center;
  opacity: 0;
  z-index: -999;
  display: none;
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  background-color: $color-gray-800;
  &.showToast {
    display: flex;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
  }
  .toast__icon {
    font-size: 20px;

    &.info {
      color: $color-blue-500;
    }
  }

  &__wrap {
    display: flex;
    column-gap: 8px;
    align-items: center;
    gap: 8px;
  }

  &__msg {
    font-size: 15px;
    line-height: 20px;
    color: $color-gray-100;
    margin-bottom: 4px;
  }

  &__close {
    cursor: pointer;
    position: absolute;

    &.single {
      top: 50%;
      right: 5%;
      transform: translate(-5%, -50%);
    }

    &.multiple {
      top: 14px;
      right: 22px;
    }
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutOpacity {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

.toast__overlay {
  position: absolute;
  z-index: 9999;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  .toast {
    width: calc(100vw - 48px);
  }
  &.margin-bottom {
    bottom: 75px;
  }
  &.margin-min {
    bottom: 50px;
  }
}
