.toast {
  width: 335px;
  padding: 12px 20px;
  word-break: break-word;
  border-radius: 8px;
  position: relative;
  align-items: center;
  opacity: 0;
  z-index: -999;
  display: none;
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  &.showToast {
    display: flex;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
  }
  .icon__status {
    color: #999999;
    margin-right: 10px;
  }

  &__dark {
    background: rgba(34, 36, 40, 0.9);
  }

  &__light {
    box-shadow: 0 0 1px #ccc;
    background: rgba(255, 255, 255, 0.9);
  }

  &__wrap {
    display: flex;
    column-gap: 8px;
  }

  &__single {
    align-items: center;
  }

  &__multiple {
    flex-wrap: wrap;
  }

  &__button {
    text-decoration: underline;
    margin-right: 24px;
    cursor: pointer;

    &.single {
      margin-left: auto;
    }

    &.multiple {
      margin-top: 7px;
      margin-left: 30px;
    }

    &.dark {
      color: text-color(color-grey-blur);
    }

    &.light {
      color: #76797e;
    }
  }

  &__msg {
    max-width: 230px;
    font-size: 13px;
    line-height: 16px;
    .dark {
      color: text-color(color-white);
    }
    .light {
      color: #222428;
    }
  }

  &__close {
    cursor: pointer;
    position: absolute;

    &.single {
      top: 50%;
      right: 5%;
      transform: translate(-5%, -50%);
    }

    &.multiple {
      top: 14px;
      right: 22px;
    }

    &.dark {
      color: text-color(color-white);
    }

    &.light {
      color: text-color(color-black);
    }
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutOpacity {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
