.customer-status__wrapper {
  .customer-status {
    &__form {
      padding: 24px 24px 0;
    }
  }
  .bottom__sheet__content {
    padding-left: 0;
    padding-right: 0;

    .bottom__footer {
      width: 100%;
      padding: 32px 24px;
    }
  }
  .tabs__list {
    flex: 1;
  }
  .tabs__content {
    padding: 0 24px;
  }
}
