.reissue-card-info__form {
  .btn__send {
    position: absolute;
    right: 20px;
    width: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
  }
}
