@import 'styles/utilities/variables';
@import 'styles/utilities/mixin';

.purpose-appointment__wrapper {
  .bottom__sheet__content {
    padding-left: 0;
    padding-right: 0;
  }
  .tabs__list {
    flex: 1;
  }
  .tabs__content {
    padding: 16px 24px 0;
  }
}

.appointment-detail-bottom__content {
  padding-bottom: 30px;
  .appointment {
    &__header {
      padding: 20px 0;
      display: flex;
      align-items: center;
      gap: 12px;
    }
    &__time {
      font-size: 16px;
      line-height: 21px;
      font-weight: 500;
    }
    &__method {
      font-size: 14px;
      line-height: 19px;
      color: $color-gray-700;
    }
    &__detail {
      padding-top: 16px;
    }
    &__item {
      padding-bottom: 16px;
      display: flex;
      font-size: 14px;
      line-height: 19px;
      gap: 16px;
    }
    &__label {
      width: 112px;
      flex-shrink: 0;
      color: $color-gray-500;
    }
    &__value {
      font-weight: 500;
    }
    &__img {
      img {
        height: 40px;
        width: 40px;
      }
    }
  }
  .footer__buttons {
    padding-top: 32px;
    display: flex;
    justify-content: center;
    .btn__icon-delete {
      color: $color-gray-500;
    }
  }
}

.appointment-card__wrapper {
  padding: 20px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @include dividerBottomSolid();
  .item-card {
    &__main {
      display: flex;
      align-items: flex-start;
      gap: 12px;
      img {
        height: 40px;
        width: 40px;
      }
    }
    &__id {
      font-size: 16px;
      line-height: 21px;
      font-weight: 500;
    }
    &__time {
      height: 18px;
      font-size: 13px;
      line-height: 18px;
      color: $color-gray-550;
      display: flex;
      gap: 6px;
      align-items: center;
    }
    &__branch-name {
      font-size: 14px;
      line-height: 19px;
      color: $color-gray-700;
    }
    &__img__wrapper {
      width: 40px;
      height: 40px;
    }
    &__status {
      .label__text {
        text-transform: capitalize;
      }
    }
  }
}
.divider__vertical {
  width: 1px;
  height: 100%;
  background-color: $color-gray-200;
}
