@import 'styles/utilities/variables';

.customer-info__content,
.balance-setting__content {
  overflow-y: auto;
  padding-top: 16px;
  .title {
    font-size: 14px;
    line-height: 19px;
    color: #475467;
  }
  .checklist___options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
  }
}

.balance-setting__content {
  .setting-desc {
    font-size: 14px;
    line-height: 19px;
    color: $color-gray-600;
  }
  .money-options {
    display: flex;
    justify-content: center;
  }
}
