@import 'styles/utilities/variables';

.add-new-card.term-conditions__wrapper {
  position: relative;
}

.add-new-card.term-conditions__content {
  height: calc(100vh - 145px);
  overflow: auto;
  padding: 20px 0 32px;

  .term-condition__title {
    font-size: 28px;
    line-height: 34px;
    font-weight: 600;
    margin: 0;
  }

  .term-condition__banner {
    height: 410px;
    margin-top: 16px;
    border-radius: 16px;
    background-color: $color-blue-100;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .banner {
    &__desc {
      flex-grow: 1;
      padding: 24px;

      .card__desc {
        margin-top: 20px;
        font-size: 15px;
        line-height: 20px;
        color: $color-gray-600;
        width: 55%;
      }
    }
    &__spec {
      height: 156px;
      background-color: $color-gray-100;
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__image {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .term-condition__more-info {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    .more-info__desc {
      font-size: 14px;
      line-height: 19px;
      color: $color-gray-700;
    }
    .more-info__links {
      display: flex;
      gap: 56px;
    }
    .contact-us__icon {
      color: $color-shinhan-navy-900;
      font-size: 24px;
    }
  }

  .term-condition__checklist {
    margin-top: 20px;
  }
}
