@import 'styles/utilities/variables';

.answer-tax__wrapper {
  height: calc(100vh - 145px);
  overflow: auto;
  .answer-tax__desc,
  .tax-question {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: $color-gray-600;
  }
  .country-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.guide-tax-bottom__wrapper {
  .guide-tax__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-position: outside;
    list-style-type: disc;
    padding-left: 20px;
    .guide-tax__item {
      &::marker {
        color: $color-gray-600;
      }
    }
  }
}
