.view_map {
  padding-top: 280px;
  .map {
    position: absolute;
    left: 0;
    height: 264px;
    width: 100%;
    top: 58px;
  }

  .title {
    align-items: center;
    line-height: 22px;
    margin: 16px 0px;
    font-size: 17px;
    line-height: 22px;
    font-weight: 700;
  }

  .detail_info {
    padding: 16px 0px;
    border-top: 1px solid #121418;
    border-bottom: 1px solid #ebeff5;
    display: grid;
    grid-template-columns: 112px auto;
    gap: 16px;

    .info_label {
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
      color: #808892;
    }

    .info_content {
      font-size: 14px;
      font-weight: 500;
      line-height: 19px;
      color: #121418;
    }
  }

  .btn_container {
    display: grid;
    grid-template-columns: 98px auto;
    gap: 8px;
  }
}
