$icon-circle-sizes: (
  xl: (
    border-radius: 14px,
    padding: 0px 12px,
    height: 48px,
    font-size: 16px,
  ),
  lg: (
    border-radius: 12px,
    padding: 0px 12px,
    height: 44px,
    font-size: 16px,
  ),
  md: (
    border-radius: 10px,
    padding: 0px 12px,
    height: 40px,
    font-size: 15px,
  ),
  sm: (
    border-radius: 8px,
    padding: 0px 12px,
    height: 32px,
    font-size: 14px,
  ),
);

@mixin button($bg-color: map-get($colors, 'light')) {
  max-width: 100%;
  min-height: 56px;
  text-decoration: none;
  font-size: $button-font-size;
  cursor: pointer;
  border: 0;
  padding: 13px 20px;
  border-radius: 18px;
  background-color: $bg-color;
}
.btn {
  @include button();
  &__contain {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 4px;
    &.right {
      flex-direction: row-reverse;
    }
    .btn__icon {
      display: flex;
      align-items: center;
      &.icon__sm {
        font-size: 12px;
        padding-top: 2px;
      }
    }
  }
  &__icon {
    &.right {
      margin-left: 4px;
    }
    &.left {
      margin-right: 4px;
    }
  }
}
@each $label, $map in $button-type-maps {
  .btn__#{$label} {
    @include button(map-get($map, background-nor));
    color: map-get($map, text-color);
    &:hover,
    &:active {
      background-color: map-get($map, background-active);
      color: map-get($map, text-color-active);
    }
    &.disable {
      background-color: map-get($map, background-disabled);
      color: map-get($map, text-color-disable);
    }
    @each $size, $props in $icon-circle-sizes {
      &.btn__#{$size} {
        border-radius: map-get($props, border-radius);
        height: map-get($props, height);
        padding: map-get($props, padding);
        min-height: map-get($props, height);
        font-size: map-get($props, font-size);
      }
    }
  }
  .btn__outlined__primary {
    border: 1px solid $color-blue-500;
    &:hover,
    &:active {
      border: 1px solid $color-blue-800;
    }
    &.disable {
      border: 1px solid $color-blue-200;
    }
  }

  .btn__outlined__gray {
    border: 1px solid $color-gray-400;
    &:hover,
    &:active {
      border: 1px solid $color-gray-500;
    }
    &.disable {
      border: 1px solid $color-gray-250;
    }
  }

  .btn__text__primary {
    padding: 0 !important;
  }
}
@each $key, $val in $sizes {
  .btn--#{$key} {
    font-size: $val;
  }
}
