$icon-circle-sizes: (
  xl: (
    border-radius: 16px,
    padding: 10px,
    height: 56px,
    width: 56px,
  ),
  lg: (
    border-radius: 14px,
    padding: 10px,
    height: 44px,
    width: 44px,
  ),
  md: (
    border-radius: 12px,
    padding: 10px,
    height: 36px,
    width: 36px,
  ),
  sm: (
    border-radius: 10px,
    padding: 8px,
    height: 32px,
    width: 32px,
  ),
);

.btn__icon__wrapper {
  &.btn__icon__circle {
    @each $size, $map in $icon-circle-sizes {
      &.icon--#{$size} {
        max-width: map-get($map, width);
        .btn__icon__main {
          background: $color-gray-100;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: map-get($map, border-radius);
          padding: map-get($map, padding);
          height: map-get($map, height);
          &:active,
          &:hover {
            background-color: $color-gray-400;
          }
        }
        .btn__icon__label {
          margin-top: 8px;
          font-size: 13px;
          line-height: 18px;
          text-align: center;
          color: $color-gray-900;
        }
      }
    }
  }
}
