.activate {
  height: 100vh;
  overflow-y: scroll;
  .toast__overlay {
    position: absolute;
    z-index: 9999;
    left: 50%;
    bottom: 505px;
    transform: translate(-50%, -50%);
    .toast {
      width: calc(100vw - 40px);
    }
    .toast__msg {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: -0.5px;
      color: #ffffff;
    }
  }
  &_wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    padding: 16px 20px 20px 20px;
    background-color: #f8f8fa;
  }
  & .header__wrapper {
    background-color: #f8f8fa;
  }
  &_top {
    .activate_title {
      font-weight: 700;
      font-size: 17px;
      line-height: 1.4;
      color: #222428;
    }
  }
  &_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 24px;
    & :not(:first-child) {
      margin-top: 16px;
    }
    & .text__field {
      width: 100%;
      & .disable {
        background: #f8fbff;
      }
      & .input__wrapper {
        width: 100%;
        &.input__focus {
          border: 1px solid #e1e3e9;
        }
        & .activate_input {
          width: 100%;
          max-width: 100%;
          padding: 0 20px 20px 20px;
        }
        & .input__icon {
          display: none;
        }
        & input {
          &:disabled {
            -webkit-text-fill-color: #222428;
            -webkit-opacity: 1;
            color: #222428;
            opacity: 1; 
          }
          &:-ms-input-placeholder {
            -webkit-text-fill-color: #222428;
            -webkit-opacity: 1;
            color: #222428;
          }
          &::-ms-input-placeholder {
            -webkit-text-fill-color: #222428;
            -webkit-opacity: 1;
            color: #222428;
          }
        }
      }
    }

    .white__bg {
      width: 100%;
      .input__wrapper {
        background-color: #ffffff !important;
      }
    }
  }
  &_input {
    position: relative;
    width: 100%;
    &_cvc {
      width: 100%;
      & .text__field .disable {
        background: none;
      }
    }

    &_hidden {
      visibility: hidden;
      position: absolute;
      top: 0;
    }
  }
  &_bottom {
    width: 100%;
    position: fixed;
    bottom: 20px;
    display: flex;
    justify-content: center;

    .activate_button {
      width: 90%;
      max-width: 100%;
    }
  }
  & .alert__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.4;
    color: #222428;
  }
}
