.container__complete {
  position: fixed;
  top: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-color: #f8f8fa;
  padding-bottom: 20px;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  .complete__top {
    background-color: #fff;

    padding: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    &.more_data {
      height: auto;
    }

    &__header {
      position: fixed;
      width: 100%;
      top: 0;
      right: 0;
      height: 50px;
      background-color: #fff;
      .date {
        font-weight: 500;
        font-size: 13px;
        line-height: 1.5;
        color: #76797e;
        margin-left: 20px;
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 67px;

      .complete__img {
        width: 140px;
        height: 140px;
      }
      & .complete__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 1.4;
        text-align: center;
        display: flex;
        margin-top: 16px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        & :not(:first-child) {
          margin-left: 5px;
        }

        .card__name {
          color: #3270ea;
        }
        .card__state {
          color: #222428;
        }
      }
      .shortInfo {
        margin-top: 5px;
        .data__table {
          margin-top: 14px;
        }
      }
      & .data__table {
        margin-top: 24px;
        width: 100%;

        & .data__item {
          padding: 15px 0;
          &:not(:first-child) {
            border-top: 1px solid rgba(225, 227, 233, 0.6);
          }
          display: flex;
          .title {
            width: 101px;
            font-weight: 400;
            font-size: 13px;
            line-height: 1.5;
            color: #76797e;
          }
          .value {
            flex: 1;
            font-weight: 700;
            font-size: 13px;
            line-height: 1.5;
            color: #222428;
            width: 218px;
          }
        }
      }
    }
    &__info__box {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      & .info__wrapper {
        width: 100%;
      }

      &.no__dataTable {
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translate(-50%, 0);
        & .info__wrapper {
          width: 90%;
        }
      }
    }
    &__wave__divider {
      position: absolute;
      bottom: -18px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .complete__bottom {
    &__call {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-top: 30px;
      padding-bottom: 100px;

      .call__icon {
        width: 56px;
        height: 56px;
      }
      .call__text {
        margin-top: 8px;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: #222428;
      }
    }
    &__button {
      margin-top: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      left: 0;
      bottom: 0;
      padding: 20px 0;
      width: 100%;
      background-color: #f8f8fa;

      .btn__duo__oto {
        width: 100%;
        padding: 0 20px;
        & button {
          width: 50%;
          height: 52px;
          font-weight: 500;
          font-size: 17px;
        }
      }

      & .one__button {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .container__complete .complete__top {
    height: auto;
  }
}
