.card__bottom {
  & .bottom__sheet__content {
    padding: 0 20px 20px 20px;
  }

  & .card__limit__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & .text__field {
      width: 100%;
      margin-bottom: 16px;
      & .input__wrapper {
        width: 100%;
        &.input__focus {
          border: 1px solid #e1e3e9;
        }
        & .card__limit__input {
          width: 100%;
          max-width: 100%;
          padding: 0 20px 14px 20px;
        }
      }
    }
    & .card__limit__info__box {
      margin-bottom: 24px;
      width: 100%;
      .info__wrapper {
        width: 100%;
      }
    }
    & .text__field:last-of-type {
      margin-bottom: 32px;
    }
    & .btn__duo__oto {
      width: 100%;
      & .btn__duo__first {
        width: 100%;
      }
      & .btn__duo__second {
        width: 100%;
      }
    }
  }
}

.container__complete {
  .complete__top {
    &__content {
      .complete__img {
        width: auto;
      }
    }
  }
}

@media only screen and (max-height: 740px) {
  .four_input {
    .bottom__sheet__content.fit-content {
      height: 60vh;
      overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
