.select_card {
  &_container {
    height: 100vh;
    overflow: scroll;
    background-color: #f8f8fa;
    &::-webkit-scrollbar {
      display: none;
    }
    & .header__wrapper {
      background-color: #f8f8fa;
    }
  }
  &_content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    & :not(:first-child) {
      margin-top: 16px;
    }
  }
  &_item:last-child {
    margin-bottom: 50px;
  }
  .alert__wrapper .alert__title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    color: #222428;
  }
}
@media screen and (max-width: 360px) {
  .select_card {
    &_content {
      padding: 10px;
    }
  }
}
