@import 'styles/utilities/variables';
@import 'styles/utilities/mixin';

.book-appointment__content {
  height: calc(100vh - 166px);
  overflow-y: auto;
  padding-bottom: 50px;
  .page__title {
    padding: 10px 0 16px;
  }
  .purpose__detail {
    margin-top: 8px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
  }

  .customer-status {
    &__info {
      padding: 8px 20px;
      border-radius: 16px;
      background-color: $color-gray-100;
    }
    &__item {
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
      gap: 25px;
      font-size: 14px;
      line-height: 19px;
      @include dividerBottomSolid();
      &:last-child {
        border-bottom: none;
      }
    }
    &__label {
      width: 86px;
      flex-shrink: 0;
      color: $color-gray-500;
    }
    &__value {
      font-weight: 500;
      display: block;
      text-align: right;
    }
  }
}
